@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--Very-dark-blue-main-BG);
    font-family: "Outfit";
}

/*card*/

.card{
    display: block;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    width: 320px;
    height: 530px;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 14px;
    border: 1px solid transparent;
}

.content h1{
    color: var(--White);
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    width: 190px;
    letter-spacing: 0.1em;
}

.content a{
    text-decoration: none;
}

.content p{
    display: block;
    margin: auto;
    font-size: 18px;
    color: var(--Soft-blue);
    text-align: left;
    padding-left: 20px;
    padding-top: 3px;
    
}

.frame{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 275px;
    height: 264px;
    background-color: var(--Cyan);
    background-image: url(/images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

}

.ETH{
    display: block;
    margin: auto;
    padding-top: 5px;
    border-bottom: 1px solid var(--Very-dark-blue-line);
    width: 290px;
}
.ETH h3{
    display: inline-block;
    position: relative;
    right: 30px;
    color: var(--Cyan);
    font-size: 18px;
    box-sizing: border-box;
    width: 140px;
}

.ETH p{
    display: inline-block;
    position: relative;
    left: 5px;
 
}

/*imagem*/

.image-equilibrium{
    margin: auto;
    width: 276px;
    height: 265px;
    border-radius: 9px;

}

.img-icon-eth{
    padding-right: 2px;
    box-sizing: border-box;
}

.img-icon-clock{
    padding-right: 2px;
}

.image-avatar{
    display: inline-block;
    position: relative;
    top: 9px;
    width: 35px;
    border: 1px solid var(--White);
    border-radius: 50%;
}

/*parte final do card*/

.author{
    margin-top: 8px;
    text-align: left;
    padding-left: 15px;
}

.author p{
    display: inline-block;
    position: relative;
    right: 9px;
    bottom: 3px;
    font-size: 18px;
}

.link-author{
    text-decoration: none;
    color: var(--White);
}

/*transição*/

.link-author:hover{
    color: var(--Cyan);
    transition: 0.4s ease;
}

.Equilibrium h1:hover{
    color: var(--Cyan);
    transition: 0.4s ease;

}

.image-equilibrium:hover{
    opacity: 0.5;
    transition: 0.4s ease;
}










